<div class="header">
    <div class="header-title">
        <h1>Book<span>Lab</span></h1>
    </div>
    <div class="header-space"></div>
    <div class="header-links">
            <ul>
                <li><a [routerLink]="['/']" >Recently Added</a></li>
                <li ><a [routerLink]="['/books']">Book</a></li>
                <li><a [routerLink]="['/categories']">Categories</a></li>
                <li ><a  [routerLink]="['/favorites']">Favorites</a></li>
            </ul>
    </div>
</div>