.add {
    display: flex;
    justify-content: end;
    margin-top: 90px;
}
.add button{
    padding: 10px;
    background-color: #f8cb79;
    border: 1px solid #a36b03;
    margin: 30px;
    color:#a36b03;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}